POSTGRES_DB=researchos
POSTGRES_USER=researchos
POSTGRES_PASSWORD=replace-with-long-random-password
MINIO_ROOT_USER=researchos
MINIO_ROOT_PASSWORD=replace-with-long-random-password
APP_NAME=ResearchOS API
APP_VERSION=0.5.0-rc.5
DATABASE_SCHEMA_VERSION=42
KNOWLEDGE_API_PRINCIPALS={}
ARCHITECTURE_API_PRINCIPALS={}
REPOSITORY_DASHBOARD_EXPECTED_REVISION=
JOB_MAX_ATTEMPTS=3
JOB_LEASE_SECONDS=660
JOB_RETRY_BASE_SECONDS=5
JOB_TIMEOUT_SECONDS=600
OLLAMA_URL=http://host.docker.internal:11434/api/generate
MODEL_NAME=qwen3:8b
RESEARCHOS_API_HOSTNAME=researchos-api.srv1534304.hstgr.cloud
RESEARCHOS_API_HOSTNAME_ALIAS=api.researchos.click
RESEARCHOS_UI_HOSTNAME=researchos.click
RESEARCHOS_UI_HOSTNAME_ALIAS=www.researchos.click
RESEARCHOS_UI_REVISION=not-deployed
BACKUP_INTERVAL_SECONDS=86400
BACKUP_RETENTION_DAYS=14
HEALTHCHECK_INTERVAL_SECONDS=60
